<!DOCTYPE html>
<html>
    <head>
        <title>Weather Battles</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h1>Weather Battles: An experiment</h1>
        <p>The events in the following poem were determined by the weather in Chicago at the time the poem was generated.
        <a href="https://github.com/emmajuettner/weather-battles">Source code</a></p>
        <hr>
        <p>{{ poem }}</p>
    </body>
</html>
